{
  "presets": [
    ["@babel/preset-env", {
      "modules": "umd",
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "@babel/preset-react"
  ],
  "ignore": ["node_modules", "dist"]
}
